
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" style="color: #17a2b8;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">MV-SDesk</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" style="background-color: #343940" href="/mv/logout"><strong>Sign out</strong></a>
        </li>
    </ul>
</nav>
