<header class="masthead" style="background-image: url('images/home-bg.jpg');width:100%;height:100%;"
        xmlns:align="http://www.w3.org/1999/xhtml">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 align="right">MumsVillage Ticket System <span>Version v1.0</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>