 <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" style="font-family:SansSerif;font-size: 20px;color:#17a2b8" href="/tickettype/options">
                            <span data-feather="home"></span>
                            View Tickets <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id ="functionality"  style="font-family:SansSerif;font-size: 20px;color:#17a2b8" class="nav-link" href="/tickettype?tickettype=Functionality">Functionality
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id ="ui" class="nav-link" style="font-family:SansSerif;font-size: 20px;color:#17a2b8" href="/tickettype?tickettype=UI">UI
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id ="ux" class="nav-link" style="font-family:SansSerif;font-size: 20px;color:#17a2b8" href="/tickettype?tickettype=UX">UX
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id ="support"  style="font-family:SansSerif;font-size: 20px;color:#17a2b8"  class="nav-link"href="/tickettype?tickettype=Support">Support
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="newfeature"  style="font-family:SansSerif;font-size: 20px;color:#17a2b8" class="nav-link" href="/tickettype?tickettype=Newfeature">New Feature
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="task"  style="font-family:SansSerif;font-size: 20px;color:#17a2b8" class="nav-link" href="/tickettype?tickettype=task">Task
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="mytask"  style="font-family:SansSerif;font-size: 20px;color:#17a2b8" class="nav-link"href="/tickettype/taskdetails">My Tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="mytickets"  style="font-family:SansSerif;font-size: 20px;color:#17a2b8" class="nav-link" href="/tickettype/test?tickettype=myticket">My Tickets
                        </a>
                    </li>
                </ul>


                </ul>
            </div>
 </nav>

