<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to MV-SDesk </title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>


    <script src="/javascripts/jquery.min.js"></script>
</head>

<body>
{{> header }}

<div class="container-fluid">
    <div class="row">
        {{> navbar }}



        {{> body }}

    </div>
</div>
<!-- Graphs -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5bcb3308b9993f2ada14f662/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

</body>
</html>